/*
    TODO: style webpage, add animations
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
}

body {
    position: relative;
}


.header__heading {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5em 0;
}

.header__heading::after {
    content: "";
    margin: 1em auto 0;
    display: block;
    width: 10%;
    border-bottom: 2px solid lightgrey;
}

.main-view {
    margin: 1.5rem auto;
    text-align: center;
}

.player-column {
    display: inline-block;
    margin: 0 7%;
}

.player-box {
    display: table-cell;
    width: 280px;
    height: 300px;
    /* border: 1px solid lightgrey; */
    vertical-align: middle;
    text-align: center;
    background:lightgrey;
    transition: .5s ease;
}

.player-box__inner {
    display: inline-block;
    vertical-align: middle;
    width: 240px;
    height: 260px;
    margin: auto auto;
    background: #fff;
    border-radius: 5px;
}

.player-box__inner__img--player {
    transform: scaleX(-1);
}

.player-box__inner__paragraph {
    font-size: 13rem;
}

.player-column__description {
    padding: 10px 0;
}

.player-column__description__name {
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.player-box__inner__img {
    max-width: 80%;
}
.player-box__visual__paragraph {
    font-family: 'Rowdies', cursive;
    font-size: 12rem;
}

.control-box {
    padding: 3rem 0;
    width: 20%;
    margin: 0 auto;
}

.control-box__container {
    display: inline-block;
    text-align: center;
    margin: 0 3%;
    padding: 8% 10%;
    border: 1px solid lightgrey;
    transition: all 0.5s ease;
}

.control-box__container:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.control-box__key {
    font-size: 1.4rem;
}

.info-box {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 30px;
    transition: 0.5s ease;
    text-align: center;
}

.info-box:hover {
    top: 2.5%;
    cursor: pointer;
}

.info-box__btn {
    width: 30px;
    transition: 0.5s ease;
}

.info-modal {
    width: 800px;
    height: 500px;
    background: #fff;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    opacity: 0;
}
.win {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    background: greenyellow;
}

.loss {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    background: red;
}

.draw {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    background: yellow;
}

.hidden {
    display: none;
}